
.balance{
    margin: auto;
    padding: 1rem;
    box-shadow: 0 0 5px 0 #1f1ce6;
    border: 1px solid #e21515;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
    
}
li{
    margin: .75rem 25%;
    padding: .25rem;
    border: 1px solid red;
    box-shadow: 0 0 3px 0 dodgerblue;
    width: 50%;
}
button{
    margin-left: 5rem;
}
.transaction-input{
    width: 100%;
}

